<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<array>
		<dict>
			<key>CountryCode</key>
			<string>AR</string>
			<key>CountryName</key>
			<string>Argentina</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>AU</string>
			<key>CountryName</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>AT</string>
			<key>CountryName</key>
			<string>Austria</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>BD</string>
			<key>CountryName</key>
			<string>Bangladesh</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>BE</string>
			<key>CountryName</key>
			<string>Belgium</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>BO</string>
			<key>CountryName</key>
			<string>Bolivia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>BR</string>
			<key>CountryName</key>
			<string>Brazil</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>BG</string>
			<key>CountryName</key>
			<string>Bulgaria</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CA</string>
			<key>CountryName</key>
			<string>Canada</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CL</string>
			<key>CountryName</key>
			<string>Chile</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CN</string>
			<key>CountryName</key>
			<string>China</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CO</string>
			<key>CountryName</key>
			<string>Colombia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CR</string>
			<key>CountryName</key>
			<string>Costa Rica</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>HR</string>
			<key>CountryName</key>
			<string>Croatia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CY</string>
			<key>CountryName</key>
			<string>Cyprus</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>CZ</string>
			<key>CountryName</key>
			<string>Czech Republic</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>DK</string>
			<key>CountryName</key>
			<string>Denmark</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>DO</string>
			<key>CountryName</key>
			<string>Dominican Republic</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>EC</string>
			<key>CountryName</key>
			<string>Ecuador</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SV</string>
			<key>CountryName</key>
			<string>El Savador</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>EE</string>
			<key>CountryName</key>
			<string>Estonia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>FI</string>
			<key>CountryName</key>
			<string>Finland</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>FR</string>
			<key>CountryName</key>
			<string>France</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>DE</string>
			<key>CountryName</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>GR</string>
			<key>CountryName</key>
			<string>Greece</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>GT</string>
			<key>CountryName</key>
			<string>Guatemala</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>GY</string>
			<key>CountryName</key>
			<string>Guyana</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>HT</string>
			<key>CountryName</key>
			<string>Haiti</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>HN</string>
			<key>CountryName</key>
			<string>Honduras</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>HK</string>
			<key>CountryName</key>
			<string>Hong Kong</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>HU</string>
			<key>CountryName</key>
			<string>Hungary</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>IN</string>
			<key>CountryName</key>
			<string>India</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>IE</string>
			<key>CountryName</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>IT</string>
			<key>CountryName</key>
			<string>Italy</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>JM</string>
			<key>CountryName</key>
			<string>Jamaica</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>JP</string>
			<key>CountryName</key>
			<string>Japan</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>LV</string>
			<key>CountryName</key>
			<string>Latvia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>LT</string>
			<key>CountryName</key>
			<string>Lithuania</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>LU</string>
			<key>CountryName</key>
			<string>Luxembourg</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>MT</string>
			<key>CountryName</key>
			<string>Malta</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>MX</string>
			<key>CountryName</key>
			<string>Mexico</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>MC</string>
			<key>CountryName</key>
			<string>Monaco</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>NP</string>
			<key>CountryName</key>
			<string>Nepal</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>NL</string>
			<key>CountryName</key>
			<string>Netherlands</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>NI</string>
			<key>CountryName</key>
			<string>Nicaragua</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>NG</string>
			<key>CountryName</key>
			<string>Nigeria</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>NO</string>
			<key>CountryName</key>
			<string>Norway</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>PK</string>
			<key>CountryName</key>
			<string>Pakistan</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>PE</string>
			<key>CountryName</key>
			<string>Peru</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>PH</string>
			<key>CountryName</key>
			<string>Philippines</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>PL</string>
			<key>CountryName</key>
			<string>Poland</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>PT</string>
			<key>CountryName</key>
			<string>Portugal</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SM</string>
			<key>CountryName</key>
			<string>San Marino</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SG</string>
			<key>CountryName</key>
			<string>Singapore</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SK</string>
			<key>CountryName</key>
			<string>Slovakia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SI</string>
			<key>CountryName</key>
			<string>Slovenia</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>ZA</string>
			<key>CountryName</key>
			<string>South Africa</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>ES</string>
			<key>CountryName</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>LK</string>
			<key>CountryName</key>
			<string>Srilanka</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>SE</string>
			<key>CountryName</key>
			<string>Sweden</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>GB</string>
			<key>CountryName</key>
			<string>United Kingdom</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>UY</string>
			<key>CountryName</key>
			<string>Uruguay</string>
		</dict>
		<dict>
			<key>CountryCode</key>
			<string>VN</string>
			<key>CountryName</key>
			<string>Vietnam</string>
		</dict>
	</array>
</dict>
</plist>
